@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[#F2F9F8] text-text-primary antialiased font-normal font-sans;
  }
  
  h1, h2, h3, h4, h5, h6 {
    @apply font-bold tracking-tight text-text-primary;
  }
}

/* Custom Scrollbar Styles */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background: #F8F9FA; 
}

::-webkit-scrollbar-thumb {
  background: #E2E8F0; 
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #00B097; 
}

/* For Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #E2E8F0 #F8F9FA;
}
